<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles  %}

    <title>Prashant Rana</title>

    <!-- Bootstrap core CSS -->
    <link href="{%static 'Prashant_Resume/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="{%static 'Prashant_Resume/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'Prashant_Resume/css/resume.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Prashant Rana</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src=" {%static 'Prashant_Resume/img/profile.png' %}" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards">Projects</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Prashant
            <span class="text-primary">Rana</span>
          </h1>
          <div class="subheading mb-5">Baltimore, Maryland, United States of America · (443) 854-7087 ·
            <a href="mailto:rana5@umbc.edu">rana5@umbc.edu</a>
          </div>
          <p class="lead mb-5">A Graduate Research Assistant at The Hilltop Institute pursuing Masters of Science in Information Systems at the University of Maryland, Baltimore County. My coursework is focused on Database/Data warehousing Techniques, Data Manipulation, Data Visualization, Data mining and Analysis using tools including SQL, Tableau, R, Python, SAS. Looking for career opportunities that use Data Modeling and Analytic techniques that helps to analyze data and derive meaningful insights to help businesses make data-driven decisions. With my strong technical background coupled with my communication skills and strong ability to perform in a team environment helps me overcome business challenges.</p>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/prashant-rana-a0b876153/">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/yogirana10/">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Graduate Research Assistant</h3>
              <div class="subheading mb-3">The Hilltop Institute</div>
              <p>
              <ul>Creating a Data warehouse based on Star schema (OLAP) suitable for reporting purpose</ul>
              <ul>Create a Decision Support System for Maryland Department of Health (MDH)</ul>
              <ul>Optimize the performance of Medicaid Management Information Systems (MMIS) OLTP database</ul>
              <ul>Performance Tuning of Tableau server and SQL server</ul>
              <ul>Data Manipulation done through Statistical tool such as SAS</ul>
              <ul>Create Visualizations in Tableau for MDH</ul>
              <ul>ETL process via SQL Server Integration Services for Data warehouse maintenance and automation of processes</ul>
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">October 2018 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Data Analyst Intern</h3>
              <div class="subheading mb-3">The Hilltop Institute</div>
              <p>
              <ul>Created Visualizations for UMBC Men’s Basketball Team</ul>
              <ul>Constructed an interactive dashboard where a user can highlight a player and the dashboard alters its appearance to reflect the respective player's position, hometown, average points, and other statistics</ul>
              <ul>Applied ML algorithms (Logistic Regression, Random Forest, etc.) in R to discover the relationships between Basketball statistics and the outcome of games</ul>
              <ul>Presented our findings via Tableau at a board meeting in August</ul>
              <ul><a href="https://public.tableau.com/profile/prashant1034#!/vizhome/UMBCMakesHistory-AStoryToldByData/STORY">Project Link</a></ul>
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2018 - October 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Product Deveopment Intern</h3>
              <div class="subheading mb-3">Sparksoft Corporation</div>
              <p>
              <ul>Developed a Movie Recommendation System using R/Python</ul>
              <ul>Data Mining and preprocessing done in Orange 3</ul>
              <ul>Classification Techniques used such as Decision Trees, Naive Bayesian and Support vector</ul>
              <ul>Created Tableau visualizations for great end user experience</ul>
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2018 - August 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">System Engineer</h3>
              <div class="subheading mb-3">Alepo Technologies Pvt Ltd</div>
              <p>
              <ul>Analyzed Logs, maintained Database replication and performed Database Installation which ensured service redundancy and fault tolerance mechanism</ul>
              <ul>Monitored AAA, PCRF, OCS servers based on RADIUS, DIAMETER and LDAP protocols which allowed end users to connect to LTE, 3G, WiMAX, Wi-Fi monetization/ offload network</ul>
              <ul>Maintained MySQL/ORACLE/Maria DB with admin privileges on Redhat/CentOS Operating systems</ul>
              <ul>Examined packet captures via Wireshark and led implementation of Logstash as a data analysis tool to maintain SLA</ul>
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June 2015 - May 2017</span>
            </div>
          </div>

        </div>

      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">University of Maryland, Baltimore County</h3>
              <div class="subheading mb-3">Master of Science</div>
              <div>Information Systems</div>
              <p>GPA: 3.66</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2019</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">University of Mumbai</h3>
              <div class="subheading mb-3">Bachelor of Engineering</div>
              <div>Information Technology</div>
              <p>GPA: 3.8</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June 2015</span>
            </div>
          </div>

        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <p>
            Programming: HTML5, CSS3, Java, PERL, shell scripting, T-SQL, PL/SQL, XML, R, Python <br><br>
            Database Technologies: Oracle Database Express Edition 11g, MySQL, MS SQL, JDBC <br><br>
            Tools and Technology: Tableau, R-Studio, Spyder, Jupyter Notebook, Orange 3, SQL Server Management Studio, SSDT, SSIS, SSRS, SQL Developer, SAS, Netbeans, Eclipse, Microsoft Excel, Microsoft PowerPoint, Microsoft Word<br><br>
            Operating Systems: Microsoft Windows, Linux, Ubuntu
          </p>

          <div class="subheading mb-3">Relevant Courses</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Data Analytics Using Statistical Learning</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Data Mining</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Advanced Database Project</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Health Informatics</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Decision Support System</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Distributed Systems</li>
          </ul>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>Apart from being a technology enthusiast, I enjoy Yoga and Meditation. I like to do outdoor activities such as playing soccer and cricket. I take inspiration from the leaders in the Information technology domain and always interested in learning new things. </p>
          <p class="mb-0">A healthy mind needs a healthy body. I like to workout and maintain a good work-life balance. I like meeting people and talk about ideas.</p>
        </div>
      </section>

      <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Projects</h2>
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">School Bus Management System</h3>
              <p>
              <ul>Implemented school bus management system for local district public school using PL/SQL</ul>
              <ul>Created Procedures and Functions for implementing general purpose system features</ul>
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2018 - May 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">BIG DATA and HADOOP Technology</h3>
              <p>
              <ul>Imported RDBMS data into HDFS using SCOOP and running Hive queries on it using shell scripting</ul>
              <ul>Imported Twitter Data into HBASE table and using HBASE as a shared resource</ul>
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">November 2015 - December 2015</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Prediction of Crypto currency Prices (Data Mining)</h3>
              <p>
              <ul>Applying Data Mining concepts to predict the prices of crypto currency based on their historical data, traditional currency data and effect of lunar phases on price</ul>
              <ul>Data preprocessing done using Python libraries such as Pandas, sklearn, matplotlib, seaborn</ul>
              <ul>Employing Classification/Clustering/Association techniques for data analysis</ul>
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">August 2018 - December 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Use of Statistical Methods for Data Analytics</h3>
              <p>
              <ul>Detecting defects in a dataset using Data Quality Toolkit (UMBC Inhouse Developed Software)</ul>
              <ul>Fitting linear and nonlinear models to the dataset based on their accuracy and performance</ul>
              <ul>Building Predictive models using R</ul>
              <ul>Learning coefficients, t-statistic, p-value, variance concepts useful for model selection</ul>
              </p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">August 2018 - December 2018</span>
            </div>
          </div>


        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

  </body>

</html>
